/* Base Styles */
:root {
  /* color */
  --clr-primary-400: hsl(25, 97%, 53%);

  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(217, 12%, 63%);
  --clr-neutral-600: hsl(216, 12%, 54%);
  --clr-neutral-700: hsl(213, 19%, 18%);
  --clr-neutral-800: hsl(216, 12%, 8%);

  /* font family */
  --ff-main: 'Overpass', sans-serif;
  --ff-body: var(--ff-main);

  /* font size */
  --fs-400: 0.9375rem;
  --fs-body: var(--fw-400);
  
  /* font weight */
  --fw-700: 700;
  --fw-400: 400;

  --fw-bold: var(--fw-700);
  --fw-regular: var(--fw-400);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-500);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

/* General Styles */
